body,html{
    border:0;
    padding:0;
    margin:0;
    background: linear-gradient(to top right,rgb(91,72,219), rgb(72,219,219));
    overflow: hidden;
    height:100%;
    width:100%;
}

@font-face {
    src: url("../font/UrbanJungleDEMO.otf");
    font-family: urban;
}

#container{
    position: absolute;
    width:calc(100% - 120px);
    height: 100%;
    left:60px;
}

#country_name{
    position: relative;
    height:50px;
    width:100%;
    background: white;
    color: black;
    font-family: urban,sans-serif;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

#country_des{
    position: relative;
    height:80px;
    width:100%;
    background: white;
    color:black;
}


.flag{
    position: absolute;
    width: 100px;
    height: 70px;
    left:calc(50% - 50px);
}


#new_thread{
    position: absolute;
    height: 80%;
    width:60%;
    left:20%;
    top:100%;
    background: #fff;
    z-index: 10;
}



#themeT{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: urban,sans-serif;
    font-size:1.2em;

}

#theme{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width:100%;
    border: none;
    border-bottom: 1px solid black;
}

#theme:focus{
    outline:none;
}

#contentT{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: urban,sans-serif;
    font-size:1.2em;
}

#content{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width:100%;
    border:none;
    border-top:1px solid black;
}

#content:focus{
    outline:none;
}

#cancel{
    position: absolute;
    bottom:0;
    right:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:50%;
    height: 20px;
    padding: 0;
    margin: 0;
    border:1px solid #cfcfcf;
    box-sizing: border-box;
    background:white;
}

#send{
    position: absolute;
    bottom:0;
    left:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:50%;
    height:20px;
    padding: 0;
    margin: 0;
    z-index: 1;
    border:1px solid #cfcfcf;
    box-sizing: border-box;
    background:white;
}

#loading{
    position: absolute;
    bottom:0;
    left:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:50%;
    height:20px;
    padding: 0;
    margin: 0;
    z-index: -1;
    border:1px solid #cfcfcf;
    box-sizing: border-box;
    background:#cfcfcf;
}

#threads{
    position: relative;
    width:100%;
    height:calc(100% - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
    background: #999;
    background-image: url("../pic/outline3.png");
    background-position: 50% 50%;
    background-repeat:repeat-x;
    background-size: 100% auto;
}

#thread{
    width:100%;
    height:100%;
}

#thread input{box-sizing:border-box}

#thread textarea{box-sizing:border-box}

.thread_title{
    position: relative;
    width:100%;
    height:10%;
    white-space: nowrap;
}

.thread_title a{
    display: block;
    font-size: 2em;
    position: relative;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow:ellipsis;
    text-wrap: none;
    text-shadow: black 1px 1px 1px;
}

.single_thread{
    position: relative;
    width:100%;
    height: auto;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    z-index:1;
}

.single_thread:hover{
    background: linear-gradient(to top right,rgb(207,207,207), rgb(72,219,219));
    opacity:0.8;
    cursor: pointer;
}

.thread_content{
    position: relative;
    width:90%;
    max-height: 100px;
    color: #cfcfcf;
    overflow: hidden;
    text-overflow:ellipsis;
    text-shadow: black 1px 1px 1px;
}

.thread_image_container{
    position: relative;
    width:auto;
    height:auto;
}

.thread_image{
    position: relative;
    height:auto;
    width:200px;
    cursor: pointer;
    z-index: 2;
}

.reply_num{
    position: relative;
    height:auto;
    width:100%;
    color: white;
    text-align: right;
}

#toolbar{
    position: absolute;
    right:0;
    height:100%;
    width:60px;
    top:0;
    padding:0;
    margin:0;
    border:0;
}

#toolbar .svg_container{
    position: relative;
    width:100%;
    height:33%;
    border:0;
    padding:0;
    margin: 0;
    top:0;
    text-align: center;
}

svg{
    position: absolute;
    top:0;
    left:0;

}

#dialog_button{
    position: absolute;
    top:20%;
    cursor: pointer;
}

#dialog_button:hover{
    opacity: 0.1;
}

#gb_button{
    position: absolute;
    top:20%;
    cursor: pointer;
}

#gb_button:hover{
    opacity: 0.1;
}


#profile_image{
    position: absolute;
    width:100%;
    height:33%;
}

.profile_image{
    position: absolute;
    top:20%;
    width:55px;
    height:55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

#image{
    overflow: hidden;
    padding: 0;
    margin:0;
    border:0;
}

.note{
    position: relative;
    width:100%;
    height: auto;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#show_image{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
    cursor: pointer;
    background:white;
}