body,html{
    width:100%;
    height:100%;
    padding:0;
    border:0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to top right,rgb(91,72,219), rgb(72,219,219));
}

#loading_page{
    width:100%;
    height:100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to top right,rgb(91,72,219), rgb(72,219,219));
}

#container{
    position: absolute;
    width:100%;
    height: 100%;
}

#person_content{
    position: absolute;
    height:90%;
    width:calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 0;
    left: 60px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 1px #cfcfcf;
}

#bottom_bar{
    position: absolute;
    bottom:0;
    width:calc(100% - 120px);
    height:10%;
    left:60px;
    background: #cfcfcf;
    overflow: hidden;
    box-sizing: border-box;
}

#notification{
    position: relative;
    display: inline-block;
    height:100%;
    text-align: center;
    border:1px solid black;
    padding:0;
    margin: 0;
    cursor: pointer;
}

#notification:active{
    color: white;
    background:black
}

#likes{
    position: relative;
    display: inline-block;
    height:100%;
    text-align: center;
    border:1px solid black;
    padding:0;
    margin: 0;
    cursor: pointer;
}

#likes:active{
    color: white;
    background:black
}

.note_container{
    position: relative;
    height: auto;
    width:100%;
    background: linear-gradient(to right,rgb(91,72,219), rgb(72,219,219));
    color: #cfcfcf;
    border:1px solid white;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow:ellipsis;
    padding:3px;
}

.profile_image{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height:30px;
    width:30px;
}

.comment{
    height: 50%;
    width:100%;
    overflow-wrap:break-word;
}

.reply{
    height: 50%;
    width:100%;
    overflow-wrap:break-word;
}

.new{
    background:yellow;
    cursor: pointer;
}

.go{
    position: relative;
}

#like_content{

    position: absolute;
    height:90%;
    width:calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 0;
    left: calc(100% - 60px);
    box-sizing: border-box;
    color:white;
    opacity:0;
    z-index: -1;
}

.likes_container{

    position: relative;
    height: 50px;
    width:100%;
    background: linear-gradient(to right,rgb(91,72,219), rgb(72,219,219));
    color: #cfcfcf;
    border:1px solid white;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    font-size: 2em;
}


#toolbar{
    position: absolute;
    right:0;
    height:100%;
    width:60px;
    top:0;
    padding:0;
    margin:0;
    border:0;
    z-index: 2;
}

#toolbar .svg_container{
    position: relative;
    width:100%;
    height:33%;
    border:0;
    padding:0;
    margin: 0;
    top:0;
    text-align: center;
}

#gb_button{
    position: absolute;
    left:calc((100% - 55px)/2);
    top:20%;
    cursor: pointer;
}

#gb_button:hover{
    opacity: 0.5;
}

.profile_image{
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.profile_image2{
    position: absolute;
    left:calc((100% - 55px)/2);
    top:20%;
    width:55px;
    height:55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
